* {
		box-sizing: border-box;
}

#envoltorio {

	width: 85%;
	margin: 0 auto;
	min-width: 650px;

}

#envoltorio header img {

	width: 100%;

}

#envoltorio #contenido{

	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-direction: row;

}
		
#envoltorio #contenido main{

	flex: 1 1 60%;
	padding: 20px 3%;
}


#envoltorio #contenido aside{

	flex: 1 1 20%;
	background-color: rgb(229, 220, 231);

}

#envoltorio #contenido aside .anuncio{

	text-align: center;
	margin: 15px auto;
	width: 90%;

}

#envoltorio #contenido aside .anuncio img{

	width: 90%;
	padding-top: 5px;

}

#envoltorio #contenido aside #arriba{

	font-size: 2em;
	font-weight: bold;

}

#envoltorio #contenido aside .anuncio img+p{

	width: 75%;
	margin: 3px auto;
	text-align: center;

	font-size: 1.25em;

}


#envoltorio footer{

	display: flex;
	justify-content: space-between;
	background-color: rgb(224, 176, 75);
	padding: 30px 5%;

    border-width: 4px;
    border-style: solid;
    border-color: rgb(30, 58, 95);

}

#envoltorio footer a{

	text-decoration: none;
	color: #000000;

}